html, body ,ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    background: #eee;
    overflow: hidden;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.hljs{
    font-family: 'Consolas' ;
}
@media screen and (max-width: 1060px) {
    div[article] h1 {
      font-size: 20px;
    }
    div[article] h2 {
      font-size: 18px;
    }
    div[article] h3 {
      font-size: 16px !important;
    }
    div[article] {
      font-size: 14px;
    }
    div[article] code{
        font-size: 10px;
        font-family: 'MONACO';
    }    
  }